<div class="checkout-container">
    <div class="checkout-wrap">
        <div class="checkout-headline">
            <h1>Shipping Info</h1>
        </div>
        <div class="checkout-breadcrumbs">
            <ul>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/cart']">Cart</a>
                </li>
                <mat-icon>keyboard_arrow_right</mat-icon>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/checkout/shipping-info']">Shipping Info</a>
                </li>
                <mat-icon>keyboard_arrow_right</mat-icon>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/checkout/payment-method']">Payment Method</a>
                </li>
                <mat-icon>keyboard_arrow_right</mat-icon>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/checkout/confirm-order']">Confirm Order</a>
                </li>
            </ul>
        </div>
        <div class="row fill">
            <div class="col-xs-7">
                <div class="checkout-view-container">
                    <router-outlet></router-outlet>
                </div>
                <div class="checkout-breadcrumbs">
                        <ul>
                            <mat-icon>arrow_back</mat-icon>
                            <li>
                                <a routerLinkActive="active" [routerLink]="['/cart']">Return to cart</a>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="col-xs-5">
                <order-summary></order-summary>
            </div>
        </div>
    </div>
</div>