<div class="checkout-container">
    <div class="checkout-wrap">
        <div class="checkout-headline">
            <h1>{{router.url === '/checkout/shipping-info' ? 'Shipping Info' : (router.url === '/checkout/payment-method' ? 'Payment
                Method' : 'Order Receipt')}}</h1>
        </div>
        <div class="checkout-breadcrumbs">
            <ul>
                <li>
                    <!-- <a routerLinkActive="active" [routerLink]="['/checkout/shipping-info']">Shipping Info</a> -->
                    <a [class.active]="router.url === '/checkout/shipping-info'" routerLink="/checkout/shipping-info">Shipping Info</a>
                </li>
                <mat-icon>keyboard_arrow_right</mat-icon>
                <li>
                    <!-- <a routerLinkActive="active" [routerLink]="['/checkout/payment-method']">Payment Method</a> -->
                    <a [class.active]="router.url === '/checkout/payment-method'" routerLink="/checkout/payment-method">Payment & Review</a>
                </li>
                <mat-icon>keyboard_arrow_right</mat-icon>
                <li>
                    <!-- <a routerLinkActive="active" [routerLink]="['/checkout/confirm-order']">Confirm Order</a> -->
                    <a [class.active]="router.url === '/checkout/confirm-order'" routerLink="/checkout/confirm-order">Order Receipt</a>
                </li>
            </ul>
        </div>
        <div class="row fill">
            <div class="col-xs-12 col-md-7">
                <div class="checkout-view-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div *ngIf="router.url !== '/checkout/confirm-order'"
                 class="col-xs-12 col-md-5">
                <order-summary></order-summary>
            </div>
        </div>
    </div>
</div>