<div class="photos-container">
  <h6>Click an image below to replace it:</h6>

  <ng-container *ngFor="let photo of photos; let i = index;">
    <img class="photo" [src]="photo.toDataURL()" (click)="selectedIndex = i; fileInput.click()">
  </ng-container>

  <input #fileInput type="file" style="display:none;" onclick="this.value = null" (change)="uploadImage(fileInput.files[0]); fileInput.files = null;">
</div>

<!-- <button class="btn green" (click)="uploadImage()">
  Upload Image
</button> -->