<app-designer-view>

  <ng-container sidebar>
    <app-sidebar-tab title="Products" icon="aspect_ratio">
      Products
    </app-sidebar-tab>
    <app-sidebar-tab title="Designs" icon="view_carousel">
      <app-designs
        [size]="'9x6'"
        (select)="canvas.loadDesign($event)">
      </app-designs>
    </app-sidebar-tab>
    <app-sidebar-tab title="Agents" icon="contact_mail">
      agents
    </app-sidebar-tab>
    <app-sidebar-tab title="Property" icon="home">
      property
    </app-sidebar-tab>
    <app-sidebar-tab title="Text" icon="subject">
      text
    </app-sidebar-tab>
    <app-sidebar-tab title="Colors" icon="color_lens">
      colors
    </app-sidebar-tab>
  </ng-container>

  <ng-container designer>
    <div class="designer-view-options">
      <button id="front" class="btn active">View Front</button>
      <button id="back" class="btn">View Back</button>
    </div>
      <!-- canvas -->
      <app-fabric-canvas #canvas></app-fabric-canvas>
    <div class="designer-view-save">
      <button id="save" class="btn btn-green">Save and Continue</button>
    </div>
  </ng-container>
  
</app-designer-view>