<app-designer-view>
  <ng-container sidebar>
    <app-sidebar-tab title="Agents" icon="contact_mail">
      <app-agent-info 
        [hidden]="currentTab !== 'agent'" 
        [user]="userData" 
        [agents]="agents" 
        [loading]="loadingAgents"
        (changeAgent)="changeAgent($event)" 
        [(selectedAgent)]="selectedAgent">
      </app-agent-info>
    </app-sidebar-tab>
    <app-sidebar-tab title="Designs" icon="view_carousel">
      test
    </app-sidebar-tab>
    <app-sidebar-tab title="Property" icon="home">
      test
    </app-sidebar-tab>
    <app-sidebar-tab title="Text" icon="subject">
      test
    </app-sidebar-tab>
    <app-sidebar-tab title="Colors" icon="color_lens">
      test
    </app-sidebar-tab>
  </ng-container>
  <ng-container designer>
    <div class="designer-view-options">
      <button id="back" class="btn">View Back</button>
      <button id="front" class="btn active">View Front</button>
    </div>
    <div class="designer-view-canvas">
      <!-- canvas -->
    </div>
    <div class="designer-view-save">
      <button id="save" class="btn btn-green">Save and Continue</button>
    </div>
  </ng-container>
</app-designer-view>