.templates-container {
  max-width: 664px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;
  padding-top: 32px;
}

.template {
  flex-basis: 128px;
  flex-shrink: 0;
  width: 140px;
  height: 112px;
  background: rgb(141, 141, 141);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: 200ms ease;
}

.template:hover {
  transform: scale(1.1);
}