<div class="login-container">

  <div class="login-card">
    <h3 class="login-card_heading">Welcome</h3>
    <h6 class="login-card_subheading">Design Print and Mail <small>Beautiful Every Time</small></h6>

    <div class="form-container">
      <div class="form-container_left">
        <a class="btn btn-greenBg">Sign Up</a>
      </div>
      <div class="form-container_right"><form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

          <!-- <h3>Log in to Sprynamics</h3> -->
        
          <div style="color:red;">{{ error }}</div>
        
          <!-- Email Address -->
          <!-- <label for="email">Email</label> -->
          <div class="form-group">
            <input class="form-control" type="email" formControlName="email" placeholder="Enter User Email">
            <div class="form-tip" *ngIf="email.invalid && email.dirty">
                Invalid e-mail address
              </div>
          </div>  
          
          <br>
        
          <!-- Password -->
          <!-- <label for="password">Password</label> -->
          <div class="form-group">
            <input class="form-control" type="password" formControlName="password" placeholder="Enter User Password">
          </div>
          <div *ngIf="password.invalid && password.touched">
            Password must be between 6 and 24 characters.
          </div>
          <br>
        
          <!-- Valid -->
          <div *ngIf="loginForm.valid">Form is valid.</div>
          <div class="form-actions">
            <button class="btn btn-greenBg" type="submit" [disabled]="!loginForm.valid">Submit</button>
          </div>
          
        
        </form>
      </div>
    </div>
  </div>
</div>


<!-- <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

  <h3>Log in to Sprynamics</h3>

  <div style="color:red;">{{ error }}</div>


  <label for="email">Email</label>
  <input type="email" formControlName="email" placeholder="Enter User Email">

  <div *ngIf="email.invalid && email.dirty">
    Invalid e-mail address
  </div>
  <br>


  <label for="password">Password</label>
  <input type="password" formControlName="password">

  <div *ngIf="password.invalid && password.touched">
    Password must be between 6 and 24 characters.
  </div>
  <br>


  <div *ngIf="loginForm.valid">Form is valid.</div>

  <button type="submit" [disabled]="!loginForm.valid">Submit</button>

</form> -->