<div class="row fill">
    <div class="col-xs-12 col col-md-8">
      <div class="dashboard-card">
        <p class="dashboard-card-heading">Edit Profile</p>
        <form action="">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">Company Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter company name">
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">First Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter first name">
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">Last Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter last name">
            </div>
          </div>
          <div class="form-row">
          <div class="form-group col-sm-12">
            <label for="exampleInputEmail1">Address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter address">
          </div>  
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="exampleInputEmail1">City</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter city">
            </div>
            <div class="form-group col-md-4">
              <label for="exampleInputEmail1">State</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter state">
            </div>
            <div class="form-group col-md-4">
              <label for="exampleInputEmail1">Zip Code</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter zip code">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="exampleInputEmail1">License ID</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter license id">
            </div>  
            </div>
            <div class="form-action">
                <button mat-button type="submit" class="dashboard-button">Save Changes</button>
            </div>

              
        </form>
      </div>
    </div>
    <div class="col-xs-12 col col-md-4">
      <div class="dashboard-card">
        <div class="profile-photo">
          <img src="http://via.placeholder.com/96x96">
          <p>Your Profile Photo</p>
          <button class="btn btn-link">Upload New Image</button>
        </div>
        
        
          
      </div>
    </div>
  </div>