<div class="row fill">
  <div class="col-xs-12 col col-md-8">
    <div class="dashboard-card">
      <p class="dashboard-card-heading">Edit Profile</p>
      <form class="ss-form" *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="saveForm()" novalidate>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter first name" formControlName="firstName" value="{{user?.firstName}}" autocomplete="given-name">
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name" formControlName="lastName" value="{{user?.lastName}}" autocomplete="family-name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6" [class.is-invalid]="userForm.get('email').invalid">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" value="{{user?.email}}" autocomplete="email">
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" placeholder="Enter phone number" formControlName="phoneNumber" value="{{user?.phoneNumber}}" autocomplete="tel-national">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="company">Company Name</label>
            <input type="text" class="form-control" id="company" placeholder="Enter company name" formControlName="company" value="{{user?.company}}" autocomplete="organization">
          </div>
          <div class="form-group col-md-6">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="website" placeholder="Enter website" formControlName="website" value="{{user?.website}}" autocomplete="website">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label for="address1">Address Line 1</label>
            <input type="text" class="form-control" id="address1" placeholder="Enter address line 1" formControlName="address1" value="{{user?.address1}}" autocomplete="address-line1">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label for="address2">Address Line 2</label>
            <input type="text" class="form-control" id="address2" placeholder="(optional) Enter address line 2" formControlName="address2" value="{{user?.address2}}" autocomplete="address-line2">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="Enter city" formControlName="city" value="{{user?.city}}" autocomplete="address-level2">
          </div>
          <div class="form-group col-md-4">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" placeholder="Enter state" formControlName="state" value="{{user?.state}}" autocomplete="address-level1">
          </div>
          <div class="form-group col-md-4">
            <label for="zipCode">Zip Code</label>
            <input type="text" class="form-control" id="zipCode" placeholder="Enter zip code" formControlName="zipCode" value="{{user?.zipCode}}" autocomplete="postal-code">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label for="licenseId">License ID</label>
            <input type="text" class="form-control" id="licenseId" placeholder="Enter license id" formControlName="licenseId" value="{{user?.licenseId}}" autocomplete="off">
          </div>
        </div>
        <div class="form-action">
          <button mat-button type="submit" class="dashboard-button">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-xs-12 col col-md-4">
    <div class="dashboard-card">
      <div class="profile-photo">
        <img style="width:96px;height:96px;" [src]="user?.avatarUrl || 'https://via.placeholder.com/96x96'">
        <p>Your Profile Photo</p>
        <button class="btn btn-link" (click)="profilePhotoInput.click()">Upload New Image</button>
        <input type="file" #profilePhotoInput style="display:none" (change)="uploadAvatar(profilePhotoInput.files[0])" accept="image/*">
        <button class="btn btn-link" (click)="openDialog(user.avatarUrl, 'profile')" *ngIf="user?.avatarUrl">Crop Image</button>
      </div>
    </div>
    <div class="row" style="margin:0">
      <div class="col col-xs-12 col-md-6" style="padding: 0;padding-right:6px;">
        <div class="dashboard-card">
          <div class="profile-photo">
            <img style="width:96px;height:96px;" [src]="user?.companyLogoUrl || 'https://via.placeholder.com/96x96'">
            <p>Company Logo</p>
            <button class="btn btn-link" (click)="companyLogoInput.click()">Upload New Image</button>
            <input type="file" #companyLogoInput style="display:none" (change)="uploadCompany(companyLogoInput.files[0])" accept="image/*">
            <button class="btn btn-link" (click)="openDialog(user.companyLogoUrl, 'companyLogo')" *ngIf="user?.companyLogoUrl">Crop Image</button>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-md-6" style="padding: 0;padding-left:6px">
        <div class="dashboard-card">
          <div class="profile-photo">
            <img style="width:96px;height:96px;" [src]="user?.brokerageLogoUrl || 'https://via.placeholder.com/96x96'">
            <p>Brokerage Logo</p>
            <button class="btn btn-link" (click)="brokerageLogoInput.click()">Upload New Image</button>
            <input type="file" #brokerageLogoInput style="display:none" (change)="uploadBrokerage(brokerageLogoInput.files[0])" accept="image/*">
            <button class="btn btn-link" (click)="openDialog(user.brokerageLogoUrl, 'brokerageLogo')" *ngIf="user?.brokerageLogoUrl">Crop Image</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-card no-padding">
      <p class="dashboard-card-heading" style="margin-left:12px;margin-top:6px;margin-bottom:6px;">Brand Colors</p>
      <app-colors *ngIf="user?.brandColors"
        [colors]="user?.brandColors"
        (addColor)="addColor()"
        (colorChange)="setColor($event)"
        (change)="saveColors()">
      </app-colors>
    </div>
  </div>
</div>
