.header-table{
  display: block;
  width:80%;
  margin: 0 auto 15px;
  button{
    width: 250px;
    color: #000;
    background: #6ed69e;
    font-size: 16px;
  }
}
.table-admin{
  width: 80% !important;
  margin: 0 auto;
  border: 1px solid #ddd;
}
