<div class="main-container">

  <div *ngIf="false" class="loading-overlay">
    <mat-spinner></mat-spinner>
  </div>

  <div class="design-container">
    <div class="form-container">
      <div class="back">
        <button mat-icon-button routerLink="/products" [queryParams]="{product: productSizes[size]?.product}">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="form">
        <h2>{{ productSizes[size]?.name }}</h2>
        <h6>{{ productSizes[size]?.width + ' x ' + productSizes[size]?.height  + ' in.'}}</h6>
        <ng-container *ngFor="let field of formFields">
          <input type="text" [placeholder]="field.name" [(ngModel)]="field.obj.text" (input)="canvas.renderAll()">
        </ng-container>
      </div>
    </div>
    <div #designerView class="designer-view">
      <button mat-raised-button color="primary" class="choose-design-button" *ngIf="!template" (click)="openTemplateDialog()">
        Choose A Design
      </button>
      <canvas id="canvas" class="designer-canvas"></canvas>
    </div>
  </div>

</div>