<div class="main-container">

  <div class="design-container">
    <div class="form-container">
      <div class="back">
        <button mat-icon-button routerLink="/products" [queryParams]="{product: productSizes[size]?.product}">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div>
          <button class="btn" *ngIf="template" (click)="openTemplateDialog()">
            Change Design
          </button>
          <button class="btn green" (click)="exportPDF()">
            Save and Continue
          </button>
        </div>
      </div>
      <div class="form">
        <div>
          <span class="product-type">{{ productSizes[size]?.name }}</span>
          &nbsp;
          <span class="product-size">{{ productSizes[size]?.width + ' x ' + productSizes[size]?.height + ' in.'}}</span>
        </div>
        <h6>View Side:</h6>
        <input id="frontRadioBtn" type="radio" name="viewSide" value="front" [(ngModel)]="viewSide" (change)="updateViewSide()">
        <label for="frontRadioBtn">Front</label>
        <br>
        <input id="backRadioBtn" type="radio" name="viewSide" value="back" [(ngModel)]="viewSide" (change)="updateViewSide()">
        <label for="backRadioBtn">Back</label>
        <ng-container *ngFor="let field of formFields; let i = index">
          <div class="form-field">
            <label [for]="'field'+i">{{field.name}}</label>
            <input [id]="'field'+i" class="form-control" type="text" [placeholder]="field.name" [(ngModel)]="field.obj.text" (input)="canvas.renderAll()">
          </div>
        </ng-container>
      </div>
    </div>
    <div #designerView class="designer-view">
      <div class="loading-overlay" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
      <button class="btn green-btn choose-design-button" *ngIf="!template" (click)="openTemplateDialog()">
        Choose A Design
      </button>
      <div [hidden]="loading" (contextmenu)="$event.preventDefault()">
        <canvas id="canvas" class="designer-canvas"></canvas>
      </div>
    </div>
  </div>

</div>