<div class="pusher"></div>
<app-breadcrumbs [step]="3"></app-breadcrumbs>
<div class="back">
  <div style="flex-basis: 430px">
    <button mat-icon-button routerLink="/products" [queryParams]="{product: productSizes[size]?.product}">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div style="flex: 1">
    <button mat-icon-button matTooltip="undo" (click)="undo()" [disabled]="past.length === 0">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button matTooltip="redo" (click)="redo()" [disabled]="future.length === 0">
      <mat-icon>redo</mat-icon>
    </button>
    <button class="btn" [class.green]="viewSide === 'front'" (click)="setViewSide('front')">
      Front
    </button>
    <button class="btn" [class.green]="viewSide === 'back'" (click)="setViewSide('back')">
      Back
    </button>
  </div>
  <div>
    <button class="btn green" (click)="saveAndContinue()">
      Save and Continue
    </button>
  </div>
</div>
<div class="main-container">

  <div class="design-container">
    <span class="selected-tab" [style.transform]="'translateY(' + (194 + currentTabIndex*70) + 'px)'">
      <span></span>
      <span class="bottom"></span>
    </span>
    <div class="side-nav">
      <div class="tab" [class.selected]="currentTab === 'designs'" (click)="currentTab = 'designs'; currentTabIndex = 0;">
        <mat-icon>view_carousel</mat-icon>
        <div class="tab-title"> Designs </div>
      </div>
      <ng-container *ngIf="template">
        <div class="tab" [class.selected]="currentTab === 'text'" (click)="currentTab = 'text'; currentTabIndex = 1;">
          <mat-icon>subject</mat-icon>
          <div class="tab-title"> Text </div>
        </div>
        <div class="tab" [class.selected]="currentTab === 'photos'" (click)="currentTab = 'photos'; currentTabIndex = 2;">
          <mat-icon>photo_library</mat-icon>
          <div class="tab-title"> Photos </div>
        </div>
        <div class="tab" [class.selected]="currentTab === 'colors'" (click)="currentTab = 'colors'; currentTabIndex = 3;">
          <mat-icon>color_lens</mat-icon>
          <div class="tab-title"> Colors </div>
        </div>
        <div class="tab" [class.selected]="currentTab === 'contact'" (click)="currentTab = 'contact'; currentTabIndex = 4;">
          <mat-icon>contact_mail</mat-icon>
          <div class="tab-title"> Contact </div>
        </div>
      </ng-container>
    </div>
    <div class="form-container">
      <app-designs *ngIf="currentTab === 'designs'" [size]="size" (select)="loadTemplate($event)"></app-designs>
      <app-text *ngIf="currentTab === 'text'" [productName]="productSizes[size]?.name" [size]="productSizes[size]?.width + ' x ' + productSizes[size]?.height + ' in.'"
        [formFields]="formFields" (change)="saveUndo()" (render)="canvas.renderAll()"></app-text>
      <app-photos *ngIf="currentTab === 'photos'" [photos]="template[viewSide].userImages" (photoChange)="changePhoto($event)"></app-photos>
      <app-colors *ngIf="currentTab === 'colors'" [colors]="template.presetColors" (colorChange)="onColorChange($event)" [bgColor]="background.fill"
        (bgColorChange)="onBgColorChange($event)" (change)="saveUndo()"></app-colors>
      <app-contact-info *ngIf="currentTab === 'contact'" (change)="saveUndo()" ></app-contact-info>
    </div>
    <div #designerView class="designer-view">
      <div class="loading-overlay" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
      <div [hidden]="loading" (contextmenu)="$event.preventDefault()">
        <canvas id="canvas" class="designer-canvas"></canvas>
      </div>
    </div>
  </div>

</div>