<div class="cart-container">
  <div class="cart-headline">
    <h1>Your cart</h1>
  </div>
  <div class="cart-row row">
    <div class="col-xs-12 col-sm-8">
      <div class="cart-details-container">
        <div class="cart-details-header row">
          <div class="col col-xs-6 center-xs">
            <span style="text-align: left;">Item</span>
          </div>
          <div class="col col-xs-2 center-xs">
            <span>Qty</span>
          </div>
          <div class="col col-xs-2 center-xs">
            <span>Price</span>
          </div>
          <div class="col col-xs-2 center-xs">
            <span>Remove</span>
          </div>
        </div>
        <div class="cart-details">
          <div class="cart-details-row row fill">
            <div class="col col-xs-6">
              <div class="row fill">
                <div class="col col-xs-12 col-sm-4">
                  <div class="item-image">
                    <img src="/assets/bg/flyers_Sm.png" style="width: 100%;">
                  </div>
                </div>
                <div class="col col-xs-12 col-sm-8">
                  <div class="item-detail">
                    <p class="item-detail-name">Item Name</p>
                    <p class="item-detail-desc">Item DescItem DescItem DescItem DescItem DescItem DescItem DescItem Desc</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-xs-2 middle-xs">
              <span class="quantity">1</span>
            </div>
            <div class="col col-xs-2 middle-xs">
              <span class="price">$19.99</span>
            </div>
            <div class="col col-xs-2 middle-xs">
              <mat-icon>close</mat-icon>
            </div>
          </div>
        </div>

      </div>
      <div class="keep-shopping">
        <a href="#" class="btn keep-shopping-btn">Keep Shopping</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="cart-summary-container">
        <div class="cart-summary-header row center-xs middle-xs">
          <span>Order Summary</span>
        </div>
        <div class="cart-summary">
          <div class="subtotal">
            <span>Subtotal</span>
            <span>$19.99</span>
          </div>
          <div class="shipping">
            <span>Shipping</span>
            <span>$0.00</span>
          </div>
          <div class="total">
            <span>Total</span>
            <span>$19.99</span>
          </div>
          <div class="checkout">
            <a href="#" class="btn checkout-button">Checkout Now</a>
            <div class="or"></div>
            <a href="#" class="btn paypal-btn">
              <img src="/assets/paypal-btn.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>