.account-card {
    padding: 24px;
    min-width: 0px;
    margin: 0 8px;
    min-height: 400px;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    box-shadow: 0 0 150px 15px rgba(0,0,0,0.5);
    z-index: 1;

    @media only screen and (min-width: 600px) {
        min-width: 500px;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
}

.or {
    border-top: 1px solid #dadada;
    margin: 32px 0;
    position: relative;
}

.or:after {
    background: rgb(252, 252, 252);
    content: 'OR';
    color: #a0a0a0;
    font-size: 12px;
    line-height: 1;
    left: 50%;
    margin: -.6em 0 0 -1em;
    padding: 0 .5em;
    position: absolute;
    top: 0;
}

.sml {
    margin: 32px 0 16px 0;

    a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
        min-height: 48px;
    }

    svg {
        margin-right: 12px;
    }

    .linkedin {
        background-color: #0077b5;
        margin-bottom: 16px;
    }

    .facebook {
        background-color: #5283e5;

        span {
            display: none;
            
            @media only screen and (min-width: 600px) {
                display: inline;
            }
        }
    }

    .google {
        background-color: #ff3f3f;

        span {
            display: none;
            
            @media only screen and (min-width: 600px) {
                display: inline;
            }
        }
    }
}


// Forms 

label {
    color: rgba(52, 56, 62, 0.54);
    font-weight: 500;
}

.form-control {
    background-color: rgba(52, 56, 62, 0.05);
    border: 1px solid rgba(52, 56, 62, 0.05);
}

.form-control:focus {
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 0 0 2px rgba(18, 196, 99, .25);
}

.form-action {
    display: flex;
    height: 64px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0 8px;
    margin: 12px 0;
}

.form-tip {
    padding: 12px 12px 0;
    color: red;
}

.submit {
    width: 100%;
    border-radius: 4px !important;
    font-size: 20px !important;
    // box-shadow: 0 0.25rem 0.125rem #167843;
    background-color: #75d84f !important;
    color: #fff !important;
    min-height: 48px;

    svg {
        margin-left: 6px;
        margin-bottom: 3px;
    }
}

.change-method, .forgot-password {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        text-align: center;

        @media only screen and (min-width: 600px) {
            font-size: 16px;
        }
    }
}