<div class="photos-container" *ngIf="!loading; else loadingSpinner">

  <!-- <div>
    <label style="width: 100%;">Property Address:
      <input id="propertyAddressInput" class="form-control">
    </label>
  </div> -->


  <ng-container *ngIf="listings.length > 0; else noListings">
    <label>Select a listing:</label>
    <select class="form-control" [(ngModel)]="selectedListing" (change)="onChangeAddress()">
      <option *ngFor="let listing of listings" [ngValue]="listing">{{ listing.fullStreetAddress }}</option>
    </select>

    <br>

    <div style="font-size: 12px">
      <div>
        <label>
          Street:
        </label>
        <input [value]="selectedListing?.fullStreetAddress">
      </div>
      <div>
        <label>
          Unit Number:
        </label>
        <input [value]="selectedListing?.unitNumber">
      </div>
      <div>
        <label>
          City:
        </label>
        <input [value]="selectedListing?.city">
      </div>
      <div>
        <label>
          State/Province:
        </label>
        <input [value]="selectedListing?.stateOrProvince">
      </div>
      <div>
        <label>
          Postal Code:
        </label>
        <input [value]="selectedListing?.postalCode">
      </div>
      <div>
        <label>
          Unit Number:
        </label>
        <input [value]="selectedListing?.unitNumber">
      </div>
      <div>
        <label>
          # Bedrooms:
        </label>
        <input [value]="selectedListing?.bedrooms">
      </div>
      <div>
        <label>
          # Bathrooms:
        </label>
        <input [value]="selectedListing?.bathrooms">
      </div>
      <div>
        <label>
          List Price:
        </label>
        <input [value]="selectedListing?.listPrice">
      </div>
      <div>
        <label>
          Brokerage Name:
        </label>
        <input [value]="selectedListing?.brokerageName">
      </div>
      <div>
        <label>
          Brokerage Phone Number:
        </label>
        <input [value]="selectedListing?.brokerageNumber">
      </div>
      <div>
        <label>
          Listing Status:
        </label>
        <input [value]="selectedListing?.listingStatus">
      </div>
      <div>
        <label>
          Living Area:
        </label>
        <input [value]="selectedListing?.livingArea">
      </div>
      <div>
        <label>
          Listing Key:
        </label>
        <input [value]="selectedListing?.listingKey">
      </div>
      <div>
        <label>
          MLS Number:
        </label>
        <input [value]="selectedListing?.mlsNumber">
      </div>
    </div>
  </ng-container>
  <ng-template #noListings>
    Your License ID is not associated with any listings in MLS!
  </ng-template>

  <hr style="background-color: white;">

  <h6>Property Photos (click an image to replace it)</h6>

  <button class="btn" (click)="loadImagesFromListing()">Load Images From Listing</button>

  <!-- <ng-container *ngFor="let photo of photos; let i = index;">
    <img class="photo" [src]="photo.toDataURL()" (click)="selectedIndex = i; fileInput.click()">
  </ng-container> -->

  <input #fileInput type="file" style="display:none;" onclick="this.value = null" (change)="uploadImage(fileInput.files[0]); fileInput.files = null;">
</div>

<!-- <button class="btn green" (click)="uploadImage()">
  Upload Image
</button> -->

<ng-template #loadingSpinner>
  <div style="width: 100%; margin-top: 64px; display: flex; align-items: center; justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>