<div class="photos-container" *ngIf="!loading; else loadingSpinner">

  <!-- <div>
    <label style="width: 100%;">Property Address:
      <input id="propertyAddressInput" class="form-control">
    </label>
  </div> -->


  <ng-container *ngIf="listings.length > 0; else noListings">
    <label>Select a listing:</label>
    <select class="form-control" [(ngModel)]="selectedListing" (change)="onChangeAddress()">
      <option *ngFor="let listing of listings" [ngValue]="listing">{{ listing.fullStreetAddress }}</option>
    </select>

    <br>

    <div style="font-size: 12px">
      <div>
        <label>
          Street:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.fullStreetAddress">
      </div>
      <div>
        <label>
          Unit Number:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.unitNumber">
      </div>
      <div>
        <label>
          City:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.city">
      </div>
      <div>
        <label>
          State/Province:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.stateOrProvince">
      </div>
      <div>
        <label>
          Postal Code:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.postalCode">
      </div>
      <div>
        <label>
          Unit Number:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.unitNumber">
      </div>
      <div>
        <label>
          # Bedrooms:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.bedrooms">
      </div>
      <div>
        <label>
          # Bathrooms:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.bathrooms">
      </div>
      <div>
        <label>
          List Price:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.listPrice">
      </div>
      <div>
        <label>
          Brokerage Name:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.brokerageName">
      </div>
      <div>
        <label>
          Brokerage Phone Number:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.brokerageNumber">
      </div>
      <div>
        <label>
          Listing Status:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.listingStatus">
      </div>
      <div>
        <label>
          Property Sq.Ft.:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.livingArea">
      </div>
      <div>
        <label>
          Listing Key:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.listingKey">
      </div>
      <div>
        <label>
          MLS Number:
        </label>
        <input (input)="updatePropertyInfo()" [(ngModel)]="selectedListing.mlsNumber">
      </div>
      <div>
        <label>
          Listing Source:
        </label>
        <a style="color: #7bbbff" [href]="selectedListing?.listingURL" target="_blank">Click here</a>
      </div>
    </div>
  </ng-container>
  <ng-template #noListings>
    Your License ID is not associated with any listings in MLS!
  </ng-template>
</div>

<ng-template #loadingSpinner>
  <div style="width: 100%; margin-top: 64px; display: flex; align-items: center; justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>