.photos-container {
  padding: 16px;
  overflow-y: auto;
}

.photo {
  cursor: pointer;
  max-width: 100%;
  padding: 6px;
  transition: transform 0.1s ease;
  &:hover {
    transform: scale(1.1);
  }
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
}

label {
  color: #fefefe;
  font-weight: bold;
}