<div class="designer-container">
  <div *ngIf="screenSize === 'min' && sidebarSize === 'full'" (click)="sidebarSize = 'min'" class="designer-sidebar-backdrop"></div>
  <div class="designer-sidebar" [ngClass]="sidebarSize">
    <div class="pull-tab" (click)="tabToggle()">
        <mat-icon *ngIf="sidebarSize !== 'min'">chevron_left</mat-icon>
        <mat-icon *ngIf="sidebarSize === 'min'">chevron_right</mat-icon>
    </div>
    <div class="designer-sidebar-min">
    </div>
    <div class="designer-sidebar-slim">
      <div class="sidebar-tabs-container">
        <div class="sidebar-tab" *ngFor="let tab of tabs" [class.selected]="tab.selected" (click)="selectTab(tab)">
          <mat-icon>{{ tab.icon }}</mat-icon>
          <div class="sidebar-tab-title">{{ tab.title }}</div>
        </div>
      </div>
    </div>
    <div class="designer-sidebar-full">
      <ng-content select="[sidebar]"></ng-content>
    </div>
  </div>

  <div id="designer-view" class="designer-view" [ngClass]="sidebarSize">
    <ng-content select="[designer]"></ng-content>
  </div>
</div>