<navigation></navigation>
<!-- <div style="margin-top: 80px;">
<ng-container *ngIf="(auth.user | async) || {} as user">
  <a routerLink="/home">Home</a>
  <a routerLink="/designer">Designer</a>
  <a routerLink="/dashboard">Dashboard</a>
  <ng-container *ngIf="!user.uid; else loggedIn">
    <a routerLink="/login">Log In</a>
    <a routerLink="/signup">Sign Up</a>
  </ng-container>
  <ng-template #loggedIn>
    Logged in as {{ user.email }}. <a routerLink="/home" (click)="logout()">Log out</a>
  </ng-template>
</ng-container>
</div> -->
<router-outlet></router-outlet>