<div class="order-summary-container">
  <div class="ss-card">
      <div class="order-summary-wrap">
          <div class="order-summary-header row center-xs middle-xs">
            <span>Order Summary</span>
          </div>
          <div class="order-summary">
            <div class="subtotal">
              <span>Subtotal</span>
              <span>$19.99</span>
            </div>
            <div class="shipping">
              <span>Shipping</span>
              <span>$0.00</span>
            </div>
            <div class="total">
              <span>Total</span>
              <span>$19.99</span>
            </div>
            <div class="checkout">
              <a href="#" class="btn checkout-button">Continue Checkout</a>
            </div>
          </div>
        </div>
  </div>
</div>