.designer-view-canvas {
  width: 800px;
  height: 800px;
  background-color: #fff;
}

.designer-view-options {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;

  div {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #back, #front {
      width: 100%;
      border-radius: 0;
      height: 48px;

      &.active {
          background-color: #75d84f;
          color: #fff;
      }
  }
}

.designer-view-save {
  width: 100%;
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;

  #save {
      width: 100%;
      height: 48px;
      background-color: #75d84f;
      color: #fff;
      border-radius: 0;
  }
}

.checkout-popup {
    position: absolute;
    z-index: 100000;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
}

.checkout-background {
    background-color: #f1f1f1;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

}

.hidden {
    visibility: hidden;
}