<div class="login-container">

  <div class="login-card">
    <h3 class="login-card_heading">Please Sign Up
      <span class="login-card_subheading">It's free and always will be</span>
    </h3>

    <div class="form-container">
      <ng-container *ngIf="(auth.user | async) || {} as user">

        <form [formGroup]="signupForm" (ngSubmit)="submitSignup()" autocomplete="on">

          <div style="color:red;">{{ error }}</div>

          <!-- Email Address -->
          <div class="form-group">
            <input class="form-control" placeholder="Enter your email" type="email" name="email" formControlName="email" autocomplete="email">

            <div class="form-tip" *ngIf="email.invalid && (email.dirty || failedSubmit)">
              Invalid e-mail address
            </div>
          </div>

          <!-- Password -->
          <div class="form-group">
            <input class="form-control" type="password" placeholder="Enter your password" name="password" formControlName="password">

            <div class="form-tip" *ngIf="password.invalid && (password.touched || failedSubmit)">
              Password must be between 6 and 24 characters.
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="form-group">
            <input class="form-control" type="password" placeholder="Confirm your password" formControlName="confirmPassword">

            <div class="form-tip" *ngIf="confirmPassword.dirty && password.value !== confirmPassword.value">
              Passwords do not match.
            </div>
          </div>

          <!-- reCaptcha -->
          <re-captcha (resolved)="captchaResolved($event)" siteKey="6Lel6z8UAAAAAItIoI3sax90GuUz1auqg8AadrlT" formControlName="recaptcha"></re-captcha>
          <div class="form-tip" *ngIf="recaptcha.invalid && failedSubmit">
            Please complete the captcha to sign up.
          </div>

          <br>

          <!-- Valid -->
          <!-- <div *ngIf="signupForm.valid">Form is valid.</div> -->

          <!-- Submit -->
          <div class="form-actions">
            <button class="btn btn-greenBg" type="submit">Submit</button>
          </div>

        </form>

      </ng-container>

    </div>
  </div>
</div>