.login-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url("/assets/loginbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.login-card {
    width: 900px;
    height: 100%;
    margin: 120px auto 48px auto;
    padding: 3rem;
    background-color: #4C545A;
    background-color: rgba(76, 84, 90, .9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 740px) {
    .login-card {
      margin: 200px auto 48px auto;
    }
  }

.login-card_heading {
    color: #fff;
    font-weight: 200;
    text-align: center;
}

.login-card_subheading {
    color: #f7f9f9;
    font-size: 60%;
    font-weight: 300;
}

.form-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 48px;
}

.form-container_left {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
}

.form-container_right {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 42px;
}

.btn-greenBg {
    background-color: #12C463 !important;
    opacity: 1.5 !important;
    text-transform: uppercase;
    padding: 15px 35px;
    border-radius: 10px;
    box-shadow: -1px 1px 2px 0px #333;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    position: relative;
    color: #fff !important;
    font-family: "Segoe UI Black", Helvetica, Arial, sans-serif;
}

.btn-greenBg:hover {
    box-shadow: -4px 4px 4px 0px #333;
    color: #109CFF !important;
    cursor: pointer !important; 
}

form {
    width: 100%;
}

.form-group {
    margin: 0 0 20px 0;
}

.form-control {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: none;
    color: #444444;
    height: 38px;
    padding: 6px 16px;
    border: #A2A2A2 solid 2px;
    border-radius: 15px;
    font-size: 18px;
    margin-bottom: 4px;
}

.form-control::placeholder {
    color: #444444;
    font-size: 18px;
}

.form-tip {
    color: #ffbdbd;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}