<div class="color-container">

  <!-- Primary -->
  <div class="color wide" 
    [style.background]="colors.primary" 
    [colorPicker]="colors.primary" 
    [cpCancelButton]="true" 
    [cpOKButton]="true"
    [cpPresetColors]="presetColors"
    [cpAlphaChannel]="'always'" 
    (colorPickerChange)="onColorChange($event, 'primary')" 
    (cpSliderDragEnd)="onChange()">
    <div class="color-title">Primary Color</div>
  </div>

  <!-- Secondary -->
  <div class="color wide" 
    [style.background]="colors.secondary" 
    [colorPicker]="colors.secondary" 
    [cpCancelButton]="true" 
    [cpOKButton]="true"
    [cpPresetColors]="presetColors"
    [cpAlphaChannel]="'always'" 
    (colorPickerChange)="onColorChange($event, 'secondary')" 
    (cpSliderDragEnd)="onChange()">
    <div class="color-title">Secondary Color</div>
  </div>

  <!-- Accent -->
  <div class="color wide" 
    [style.background]="colors.accent" 
    [colorPicker]="colors.accent" 
    [cpCancelButton]="true" 
    [cpOKButton]="true"
    [cpPresetColors]="presetColors"
    [cpAlphaChannel]="'always'" 
    (colorPickerChange)="onColorChange($event, 'accent')" 
    (cpSliderDragEnd)="onChange()">
    <div class="color-title">Accent Color</div>
  </div>


</div>