.breadcrumbs-container {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0dfdf;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.05);
  position: relative;
  z-index: 99;
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.arrow {
  margin: 0 16px;
  @media screen and (max-width: 550px) {
    margin: 0 8px;
  }
}

.step {
  display: inline-block;
  color: #1a1a1a;
  text-align: center;
}

.step.selected {
  color: #75d84f;
}
