<span class="selected-tab" [style.transform]="'translateY(' + (194 + currentTabIndex*70) + 'px)'">
  <span></span>
  <span class="bottom"></span>
</span>
<div class="side-nav">
  <div class="tab" [class.selected]="currentTab === 'designs'" (click)="currentTab = 'designs'; currentTabIndex = 0;">
    <mat-icon>view_carousel</mat-icon>
    <div class="tab-title"> Designs </div>
  </div>
  <ng-container > <!--*ngIf="template"-->
    <div class="tab" [class.selected]="currentTab === 'text'" (click)="currentTab = 'text'; currentTabIndex = 1;">
      <mat-icon>subject</mat-icon>
      <div class="tab-title"> Text </div>
    </div>
    <div class="tab" [class.selected]="currentTab === 'photos'" (click)="currentTab = 'photos'; currentTabIndex = 2;">
      <mat-icon>photo_library</mat-icon>
      <div class="tab-title"> Photos </div>
    </div>
    <div class="tab" [class.selected]="currentTab === 'colors'" (click)="currentTab = 'colors'; currentTabIndex = 3;">
      <mat-icon>color_lens</mat-icon>
      <div class="tab-title"> Colors </div>
    </div>
    <div class="tab" [class.selected]="currentTab === 'contact'" (click)="currentTab = 'contact'; currentTabIndex = 4;">
      <mat-icon>contact_mail</mat-icon>
      <div class="tab-title"> Contact </div>
    </div>
  </ng-container>
</div>