<p>
  This is the dashboard.
</p>

<br>

<ng-container *ngIf="(auth.user | async) as user">

  <!-- Profile Picture -->
  <img style="vertical-align:top; width:96px;" src="{{ user.avatarUrl || 'https://via.placeholder.com/96x96' }}">
  <input #avatarInput type="file" (change)="uploadAvatar(user, avatarInput.files[0])" hidden>
  <button type="button" (click)="avatarInput.click()">Change Profile Picture</button>

  <br><br>

  <!-- Company Logo -->
  <img style="vertical-align:top; height: 72px;" src="{{ user.companyLogoUrl || 'https://via.placeholder.com/128x72' }}">
  <input #companyLogoInput type="file" (change)="uploadCompany(user, companyLogoInput.files[0])" hidden>
  <button type="button" (click)="companyLogoInput.click()">Change Company Logo</button>

  <br><br>

  <!-- Brokerage Logo -->
  <img style="vertical-align:top; height: 72px;" src="{{ user.brokerageLogoUrl || 'https://via.placeholder.com/128x72' }}">
  <input #brokerageLogoInput type="file" (change)="uploadBrokerage(user, brokerageLogoInput.files[0])" hidden>
  <button type="button" (click)="brokerageLogoInput.click()">Change Brokerage Logo</button>

  <br><br>

  <h3>User Details:</h3>

  <ng-container *ngIf="!editing; else editForm">

    <button (click)="edit()">Edit User Details</button>

    <br><br>

    <div>
      Email: {{ user.email }}
    </div>
    <div>
      Name: {{ (user.firstName||'') + ' ' + (user.lastName||'') }}
    </div>
    <div>
      Address: {{ (user.address1||'') + ' ' + (user.address2||'') }}
    </div>
    <div>
      City: {{ user.city }}
    </div>
    <div>
      State: {{ user.state }}
    </div>
    <div>
      Country: {{ user.country }}
    </div>
    <div>
      Company Name: {{ user.company }}
    </div>
    <div>
      License ID: {{ user.licenseId }}
    </div>
  

  </ng-container>

  <ng-template #editForm>
    
    <form [formGroup]="userForm" (ngSubmit)="save(user)">

      <button type="submit">Save Changes</button>

      <br><br>

      <label for="email">Email: </label>
      <input type="email" formControlName="email" value="{{user.email}}">
      <br>
    
      <label for="firstName">First Name: </label>
      <input type="text" formControlName="firstName" value="{{user.firstName}}">
      <br>

      <label for="lastName">Last Name: </label>
      <input type="text" formControlName="lastName" value="{{user.lastName}}">
      <br>

      <label for="address1">Address Line 1: </label>
      <input type="text" formControlName="address1" value="{{user.address1}}">
      <br>

      <label for="address2">Address Line 2: </label>
      <input type="text" formControlName="address2" value="{{user.address2}}">
      <br>

      <label for="city">City: </label>
      <input type="text" formControlName="city" value="{{user.city}}">
      <br>

      <label for="state">State: </label>
      <input type="text" formControlName="state" value="{{user.state}}">
      <br>

      <label for="country">Country: </label>
      <input type="text" formControlName="country" value="{{user.country}}">
      <br>

      <label for="company">Company Name: </label>
      <input type="text" formControlName="company" value="{{user.company}}">
      <br>

      <label for="licenseId">License ID: </label>
      <input type="text" formControlName="licenseId" value="{{user.licenseId}}">
      <br>

    </form>

  </ng-template>

  <ng-container *ngIf="user.admin">

    <h3>Design Templates:</h3>

    <input #templateName type="text" placeholder="Template name">
    <button (click)="addTemplate(templateName.value); templateName.value = ''">Create</button>

    <br><br>

    <ng-container *ngFor="let template of templates | async; let i = index;">
      Template {{i+1}}: {{template.name}}
      <br><br>
    </ng-container>

  </ng-container>


</ng-container>
