<ng-container *ngIf="(auth.user | async) || {} as user">
    <ng-container *ngIf="!user.uid; else loggedIn">
        <div id="mobile-menu_dropdown" class="mobile-menu_dropdown">
            <a (click)="toggleMenu()" [routerLink]="['/']" class="mobile-menu_link" href="">Home</a>
            <a (click)="toggleMenu()" [routerLink]="['/designer']" class="mobile-menu_link" href="">Design</a>
            <a (click)="toggleMenu()" [routerLink]="['/']" fragment="about-us" class="mobile-menu_link" href="">About Us</a>
            <a (click)="toggleMenu()" [routerLink]="['/']" fragment="contact-us" class="mobile-menu_link" href="">Contact Us</a>
            <a (click)="toggleMenu()" [routerLink]="['/login']" class="mobile-menu_link" href="">Login</a>
            <a (click)="toggleMenu()" [routerLink]="['/signup']" class="mobile-menu_link" href="">Sign Up</a>
          </div>
      </ng-container>

      <ng-template #loggedIn>
          <div id="mobile-menu_dropdown" class="mobile-menu_dropdown">
              <a (click)="toggleMenu()" [routerLink]="['/']" class="mobile-menu_link" href="">Home</a>
              <a (click)="toggleMenu()" [routerLink]="['/designer']" class="mobile-menu_link" href="">Design</a>
              <a (click)="toggleMenu()" [routerLink]="['/']" fragment="about-us" class="mobile-menu_link" href="">About Us</a>
              <a (click)="toggleMenu()" [routerLink]="['/']" fragment="contact-us" class="mobile-menu_link" href="">Contact Us</a>
              <a (click)="toggleMenu()" [routerLink]="['/dashboard']" class="mobile-menu_link" href="">Dashboard</a>
              <a (click)="toggleMenu()" [routerLink]="['/']" (click)="logout()"  class="mobile-menu_link" href="">Logout</a>
            </div>
        </ng-template>

</ng-container>

<div class="navbar">
  <div class="navbar-row_inner">
    <div class="navbar-left">
      <a [routerLink]="['/']">
        <img src="assets/logo.png" style="width: 140px;">
      </a>
    </div>
    <div class="navbar-right">
      <div class="mobile-menu">
        <button (click)="toggleMenu()" class="btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
      </div>
      <ul class="nav-links">
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/design" class="nav-link">Design</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/']" fragment="about-us" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/']" fragment="contact-us" class="nav-link">Contact Us</a>
        </li>
        
        <li class="nav-item_dropdown dropdown show">
            <ng-container *ngIf="(auth.user | async) || {} as user">
            <ng-container *ngIf="!user.uid; else loggedIn">
                <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" routerLink="/login">Login</a>
                      <a class="dropdown-item" routerLink="/signup">Sign Up</a>
                    </div>
              </ng-container>


            <ng-template #loggedIn>
                <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" routerLink="/dashboard">Dashboard</a>
                      <a class="dropdown-item" routerLink="/" (click)="logout()">Logout</a>
                    </div>
              </ng-template>
            
          
            
          
          
          </ng-container>
          </li>
      </ul>
    </div>
  </div>
</div>