<div class="sidebar-account">
  <img style="width:96px;height:96px;" [src]="(auth.user | async)?.avatarUrl || ''">
  <div class="account-name">
    <p>{{ (auth.user | async)?.firstName + ' ' + (auth.user | async)?.lastName }}</p>
  </div>
  <div class="account-email">
    <p>{{(auth.user | async)?.email}}</p>
  </div>
  <div class="account-settings">
    <p><mat-icon>settings</mat-icon> Account Settings</p>
  </div>
</div>


<div class="divider"></div>
<div class="design">
  <a mat-button routerLink="/products">Start Designing</a>
</div>
<ul class="sidebar-nav">
  <li><a routerLink="/profile">Your Profile</a></li>
  <li><a routerLink="/profile/agents">Agents</a></li>
  <li><a routerLink="/profile/orders">Orders</a></li>
  <li><a routerLink="/profile/lists">Mailing Lists</a></li>
</ul>