<div class="sidebar-account">
  <ng-container *ngIf="(auth.user | async) as user">

    <img style="width:96px;height:96px;" [src]="user.avatarUrl || 'https://via.placeholder.com/96x96'">
    <div class="account-name" *ngIf="user.firstName; else noNameMessage">
      <p>{{ user.firstName + ' ' + user.lastName }}</p>
    </div>
    <ng-template #noNameMessage>
      <div class="account-name">
        <p>No Name</p>
      </div>
    </ng-template>
    <div class="account-email">
      <p>{{ user.email }}</p>
    </div>
  </ng-container>
</div>


<div class="divider"></div>
<ul class="sidebar-nav">
  <li><a href="#" routerLink="/profile">Your Profile</a></li>
  <li><a routerLink="/profile/agents">Agents</a></li>
  <li><a routerLink="/profile/orders">Orders</a></li>
  <li><a routerLink="/profile/lists">Mailing Lists</a></li>
</ul>