<div class="sidebar-account">
  <img src="http://via.placeholder.com/96x96">
  <div class="account-name">
    <p>Royce Shayegan</p>
  </div>
  <div class="account-email">
    <p>royceshayegan@gmail.com</p>
  </div>
  <div class="account-settings">
    <p><mat-icon>settings</mat-icon> Account Settings</p>
  </div>
</div>


<div class="divider"></div>
<div class="design">
  <a mat-button href="/products">Start Designing</a>
</div>
<ul class="sidebar-nav">
  <li><a href="#">Your Profile</a></li>
  <li><a href="#">Orders</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
</ul>