@import '~@angular/material/theming';
@include mat-core();

// $light-primary: mat-palette($mat-indigo, 500, 400, 600);
$light-primary: mat-palette($mat-green, A400, A700, A200);
$light-accent: mat-palette($mat-green, A400, A700, A200);
$light-warn: mat-palette($mat-red, A700);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);