@import 'scss/main';

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Roboto';
}

* {
  box-sizing: border-box;
}

.btn-greenBg {
  background-color: #12C463 !important;
  opacity: 1.5 !important;
  text-transform: uppercase;
  padding: 15px 35px;
  border-radius: 10px;
  box-shadow: -1px 1px 2px 0px #333;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  position: relative;
  color: #fff !important;
  font-family: "Segoe UI Black", Helvetica, Arial, sans-serif;
}

.mat-step-header .mat-step-icon {
  color: #fff !important;
}

.mat-step-icon .mat-icon {
  color: #fff;
}

.mat-drawer {
  width: 264px;
  top: 80px !important;
  position: fixed !important;
  background-color: #34383e !important;
  background-color: #fff !important;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #fff !important;
  min-height: 80px !important;
  box-shadow: 0 0.25rem 0.125rem rgba(0,0,0,.05);
}

.mat-toolbar-row {
  padding: 0 16px 0 0 !important;
  height: 80px !important;
}

.menu {
  // font-size: 24px;
  font-size: 20px;
}

.hamburger {
  outline: 0;
  height: 100%;
  min-width: 88px;
  color: #34383e;

  &:focus {
    outline: 0;
  }
}

.top-menu {
  margin: 0 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    margin: 0 12px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #363a40;
    letter-spacing: .5px;

  }
}

.top-menu-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.design-link {
    margin: 12px 32px 0 !important;
    padding: 0 32px !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    box-shadow: 0 0.25rem 0.125rem #167843;
    background-color: #12c463 !important;
    color: #fff !important;
}

.dropdown-container {
  display: flex;
}

.top-menu-account {
  transition: all 200ms ease;
  min-width: 164px;

  &:hover {
    color: #12c463 !important;
    cursor: pointer;
  }
}

#top-of-page {
    width: 100%;
    height: 0; 
    position: absolute; 
    top: 0;
}

// Forms 

label {
  color: rgba(52, 56, 62, 0.54);
  font-weight: 500;
}

.form-control {
  background-color: rgba(52, 56, 62, 0.05);
  border: 1px solid rgba(52, 56, 62, 0.05);
}

.form-control:focus {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0 0 0 2px rgba(18, 196, 99, .25);
}

.form-action {
  display: flex;
  height: 64px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8px;
  margin: 12px 0;
}

.form-tip {
  padding: 12px 12px 0;
  color: red;
}