<div class="home-container">
  <div class="hero-section">
    <div class="hero-section_inner">
      <div class="hero-section_inner-column">
        <div class="hero-section_inner-row">
          <a href="#">
            <img src="assets/logo.png" width="350">
          </a>
        </div>
        <div class="hero-section_inner-row">
          <div class="hero-text_block">
            <h1 class="hero-text_heading">Design<br>Print & Mail</h1>
            <h3 class="hero-text_subheading">Beautiful Every Time</h3>
          </div>
        </div>
        <div class="hero-section_inner-row">
          <div class="hero-action">
            <div class="hero-action_left">
              <a href="#" class="btn hero-btn btn-greenBg">Try it now</a>
            </div>
            <div class="hero-action_right">
              <div class="bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>