<div id="home" class="home-container">
  <div id="hero-section" class="hero-section">
    <div class="hero-section_inner">
      <div class="hero-section_inner-column">
        <div class="hero-section_inner-row">
          <a href="#">
            <img class="hero-logo" src="assets/logo.png">
          </a>
        </div>
        <div class="hero-section_inner-row">
          <div class="hero-text_block">
            <h1 class="hero-text_heading">Design<br>Print & Mail</h1>
            <h3 class="hero-text_subheading">Beautiful Every Time</h3>
          </div>
        </div>
        <div class="hero-section_inner-row">
          <div class="hero-action">
            <div class="hero-action_left">
              <a href="#" class="btn hero-btn btn-greenBg">Try it now</a>
            </div>
            <div class="hero-action_right">
              <div class="bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-cards_container">
    <div class="hero-card flyers">
      <div class="hero-card_overlay">
        <div class="hero-card_text">
          <h1>Flyers</h1>
        </div>
      </div>
    </div>
    <div class="hero-card post-cards">
      <div class="hero-card_overlay">
        <div class="hero-card_text">
          <h1>Post Cards</h1>
        </div>
      </div>
    </div>
    <div class="hero-card door-hangers">
      <div class="hero-card_overlay">
        <div class="hero-card_text">
          <h1>Door Hangers</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="about-container">
    <div class="about-section">
      <div class="about-section_overlay">
        <div class="about-section_inner">
          <div class="about-section_inner-column">
            <div class="about-section_inner-row">
              <div class="campaign-header">
                <img src="assets/about/start-campaign.png">
              </div>
            </div>
            <div class="about-section_inner-row">
              <div class="campaign-graphics">
                <div class="campaign-graphics_card">
                  <div class="campaign-graphics_card-header">
                    <h2>Choose style</h2>
                  </div>
                  <div class="campaign-graphics_card-image">
                    <img src="assets/about/style.png" alt="style">
                  </div>
                </div>
                <div class="campaign-graphics_card">
                  <div class="campaign-graphics_card-header">
                    <h2>Design</h2>
                  </div>
                  <div class="campaign-graphics_card-image">
                    <img src="assets/about/design.png" alt="design">
                  </div>
                </div>
                <div class="campaign-graphics_card">
                  <div class="campaign-graphics_card-header">
                    <h2>Mail</h2>
                  </div>
                  <div class="campaign-graphics_card-image">
                    <img src="assets/about/mail.png" alt="mail">
                  </div>
                </div>
              </div>
            </div>
            <div id="about-us" class="about-section_inner-row">
              <div class="about-section_about-us">
                <div class="about-us_heading">
                  <h1 class="about-heading">About Us</h1>
                </div>
                <div class="about-us_text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Consectetur lorem donec massa sapien faucibus. In mollis nunc
                    sed
                    id semper. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus et.
                    Congue quisque egestas diam in arcu cursus euismod quis viverra. Eleifend donec pretium
                    vulputate sapien. Etiam non quam lacus suspendisse faucibus. Elementum eu facilisis sed
                    odio.
                  </p>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div class="ceo-section">
      <div class="ceo-section_inner">
        <div class="ceo-section_inner-row">
          <div class="ceo-section_left">
            <h2 class="ceo-section_left-heading">Words from CEO</h2>
            <p class="ceo-section_left-text">“Consectetur lorem donec massa sapien faucibus. In mollis nunc sed id semper.”</p>
          </div>
          <div class="ceo-section_right">
            <div class="ceo-section_right-image">
              <img src="assets/about/Ceo-image.png" alt="ceo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-container">
    <div id="contact-us" class="contact-section">
      <div class="contact-section_inner">
        <div class="contact-section_inner-row">
          <div class="contact-section_inner-column">
            <div class="info-section">
              <h2>Find, share and like us on social media</h2>
              <div class="social-icons">
                <a href="" class="btn social-icon-btn btn-greenBg">
                  <i class="fa fa-facebook-official text-white"></i>
                </a>
                <a href="" class="btn social-icon-btn btn-greenBg">
                  <i class="fa fa-google-plus-circle text-white"></i>
                </a>
                <a href="" class="btn social-icon-btn btn-greenBg">
                  <i class="fa fa-youtube-play text-white"></i>
                </a>
                <a href="" class="btn social-icon-btn btn-greenBg">
                  <i class="fa fa-instagram text-white"></i>
                </a>
                <a href="" class="btn social-icon-btn btn-greenBg">
                  <i class="fa fa-linkedin text-white"></i>
                </a>
              </div>
              <hr>
              <div class="location">
                <i class="fa fa-2x fa-map-marker text-white"></i>
                <h3 class="company-name">Sprynamics</h3>
                <h4 class="address">Boston, MA</h4>
              </div>
              <hr>
              <div class="email">
                <h3 class="text-white">@&nbsp;&nbsp;&nbsp;info@sprynamics.com</h3>
              </div>
              <hr>
              <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d131553.04928304174!2d-71.09996444281184!3d42.337801444520196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C+MA%2C+USA!5e0!3m2!1sen!2sin!4v1511436173382" height="250" width="100%" frameborder="0" style="border: 3px solid #fff;" allowfullscreen=""></iframe></div>
            </div>
          </div>
          <div class="contact-section_inner-column form-section">
              <div class="contact-form">
            <h1 class="contact-heading">Contact Us</h1>
              
                <div class="form-group">
                  <input type="text" placeholder="Name" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <textarea  name="message" rows="5" data-rule="required" type="text"  placeholder="Message" class="form-control">
                    
                  </textarea>
                </div>
                <div class="form-actions">
                  <button class="btn btn-greenBg">Submit</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a id="scrollTop" href="#top"><span class="fa fa-angle-up"></span>
</a>