<div class="bal-editor-namespace">

  <div class="bal-editor-demo">

  </div>
  <div id="previewModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Preview</h4>
        </div>
        <div class="modal-body">
          <div class="">
            <label for="">URL : </label> <span class="preview_url"></span>
          </div>
          <iframe id="previewModalFrame" width="100%" height="400px"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
